body {
    background-color: bisque;
}

.menu-bar {
    background-color: black;
    color: whitesmoke;
    height: 1.5em;
}

.menu-item {
    display: inline;
    margin: auto;
    bottom: 0;
}


footer {
    margin-top: auto;
}